{% extends "base.html" %}

{% block title %}About kindle.io{% endblock %}

{% block style %}
<style>
* {font-size:14px;}
body {background: url("/media/img/bg.png");}
.logo {text-align:center; margin: 40px 0 40px;}
h3 {margin-top:25px;}
i {margin:4px;}
footer a {margin-left:10px;}
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span6 offset3">
        <h1 class="logo">About Kindle.io</h1>

        <h3><i class="icon-home"></i>Send to Kindle Service</h3>
        <p>You can enter an URL on <a href="/">Home</a> page, and click "Send to Kindle" button, Kindle.io when send the main content of the page to you kindle.</p>

        <h3><i class="icon-screenshot"></i>Hacker News</h3>
        <p>Receive articles from <a href="http://news.ycombinator.com/">Hacker News</a>. You can <a href="/accounts/profile/">set the lowest points limit</a> you want to receive.</p>

        <h3><i class="icon-book"></i>Notes</h3>
        <p>Kindle.io can record all your Highlight from your Kindle. Read more and set up on the <a href="/accounts/profile/">profile page</a>, then your Highlights will show up <a href="/notes/">here</a>.</p>

        <h3><i class="icon-envelope"></i>Contact</h3>
        <p>E-mail: info [AT] kindle.io</p>


        <hr>
        <footer class="footer">
            <p>&copy; 2012 kindle.io <a href="/">Home</a> <a href="/accounts/profile/">Profile</a> <a href="/notes/">Notes</a> <a href="/logout/">Sign Out</a></p>
        </footer>
    </div>
</div>
{% endblock %}

