{% extends "base.html" %}

{% block style %}
<style>
* {font-size:14px;}
body {background: url("/media/img/bg.png");}
.home {text-align:center;}
.logo {text-align:center; margin: 70px 0 60px;}
.main_form {margin:0 0 50px;}
.main_form input {font-weight:bold; margin-left:12px; padding:6px;}
.main_form .main_input {width: 96%;margin:0 0 20px; color:gray;}
footer a {margin-left:10px;}
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span6 offset3 home">
        <div>
            <h1 class="logo">Kindle.io</h1>
        </div>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}
            <a class="close" data-dismiss="alert">×</a>
        </div>
        {% endfor %}
        {% endif %}

        <form method="POST" action="." class="main_form">{% csrf_token %}
            <input type="text" name="url" placeholder="http://" class="main_input" value="" />
            <div class="row">
                <input type="submit" value="Send to Kindle">
                <input type="button" value="Read Me">
            </div>
        </form>

        <hr>
        <footer class="footer">
            <p>&copy; 2012 kindle.io <a href="/accounts/profile/">Profile</a> <a href="/notes/">Notes</a> <a href="/logout/">Sign Out</a></p>
        </footer>
    </div>
</div>
{% endblock %}
